<h1>Welcome the Information page</h1>
<p>This is a practice or test chatapp built by "Ohre Alex" for the implementation of websocket through rails 
ActionCable for real-time messaging system </p>

<h2>Features</h2>
<ul>
    <li>Amazon web sevices (AWS) - for serviving file uploads such as images</li>
    <li>Authentication system - for user login to keep track of users</li>
    <li>Sematic ui framework for the minimal styling of the app</li>
    <li>Websocket - for real time messaging </li>
</ul>

<h3>Connect with me</h3>
<ul>
    <li><a href="https://www.github.com/alexcodeable" target="_blank">Github</a></li>
    <li><a href="mailto:alexokomao@gmail.com">Email</a></li>
    <li><a href="https://www.twitter.com/mr_coderr" target="_blank">Twitter</a></li>
</ul>

