
 <% if notice.present? %>
 <div class="ui success message transition">
  <i class="close icon"></i>
  <div class="header">
    <%= notice %>
  </div>
</div>
<% end %>
<% if alert.present? %>
<div class="ui error message transition">
  <i class="close icon"></i>
  <div class="header">
    <%= alert %>
  </div>
</div>
<% end %> 





