

<div class="ui inverted small menu">
<div class="ui container">
  <a href='/' class="item">
    ChatApp
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item"><i class="user circle outline icon"></i>
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Sign In</a>
        <a class="item">Sign Up</a>
      </div>
    </div>
    <div class="item">
        <div class="ui red button"><i class="power off icon"></i> Sign Out</div>
    </div>
  </div>
  </div>
</div>