

<div class="ui inverted small menu">
<div class="ui container">
<% if user_signed_in? %>
  <a href='/chatroom' class="item">
  <h2>
  <i class="universal access red icon"></i>
</h2>
    ChatApp
  </a>
  <a href="/info" class="item">
  Page Information
  </a>
  <% else %>
  <a href='/' class="item">
  <h2>
  <i class="universal access red icon"></i>
</h2>
    ChatApp
  </a>
  <% end %>
  <div class="right menu">
    <div class="ui dropdown item"><i class="user circle outline icon"></i>
    <%= current_user.username if user_signed_in? %>
      <% if !user_signed_in? %>Account <% end %> <i class="dropdown icon"></i>
      <div class="menu">
      <% if user_signed_in? %>
        <a href='/sign_out' class="item">Sign Out</a>
        <a href='/profile/edit' class="item">Settings</a>
        
        <% else %>
        
        <a href='/sign_in' class="item">Sign In</a>
        <a href='/sign_up' class="item">Sign Up</a>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>